
<div class="form">
<h2 class="label"><strong>Log in</strong></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    </br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "Email" %>
  </div>

  <div class="field">
    </br>
    <%= f.password_field :password, autocomplete: "current-password", class: "input", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="flex flex-row justify-items-start">
      <div>
        <%= f.check_box :remember_me %>
      </div>
      <div class="ml-4">
        <%= f.label :remember_me %>
      </div>
    </div>
  <% end %>

  </br>
    <i class="fa-solid fa-arrow-right fa-beat btn"> <%= f.submit "Log in" %></i>
  </br>

  <%= render "devise/shared/links" %>

<% end %>

</div>